testssl analyzer does identify hostnames and ports since testssl 3

The testssl analyzer provides no hostname and port when run against the following log generated by testssl 3.0.8

**log file**:
```
###########################################################
    testssl       3.0.8 from https://testssl.sh/
    (d3b22f1 2023-02-23 17:50:07)

      This program is free software. Distribution and
             modification under GPLv2 permitted.
      USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!

       Please file bugs @ https://testssl.sh/bugs/

###########################################################

 Using "OpenSSL 3.0.8 7 Feb 2023 (Library: OpenSSL 3.0.8 7 Feb 2023)" [~81 ciphers]
 on kali:/usr/bin/openssl
 (built: "Feb  7 20:42:42 2023", platform: "debian-amd64")


 Start 2023-02-27 14:22:50        -->> 10.10.10.25:443 (10.10.10.25) <<--

 rDNS (10.10.10.25):  (instructed to minimize DNS queries)
 Service detected:       HTTP


 Testing protocols via sockets except NPN+ALPN 

 SSLv2      not offered (OK)
 SSLv3      not offered (OK)
 TLS 1      not offered
 TLS 1.1    not offered
 TLS 1.2    offered (OK)
 TLS 1.3    offered (OK): final
 NPN/SPDY   not offered
 ALPN/HTTP2 http/1.1 (offered)

 Testing cipher categories 

 NULL ciphers (no encryption)                  not offered (OK)
 Anonymous NULL Ciphers (no authentication)    not offered (OK)
 Export ciphers (w/o ADH+NULL)                 not offered (OK)
 LOW: 64 Bit + DES, RC[2,4] (w/o export)       not offered (OK)
 Triple DES Ciphers / IDEA                     not offered
 Obsolete CBC ciphers (AES, ARIA etc.)         offered
 Strong encryption (AEAD ciphers)              offered (OK)


 Testing robust (perfect) forward secrecy, (P)FS -- omitting Null Authentication/Encryption, 3DES, RC4 

 PFS is offered (OK)          TLS_AES_256_GCM_SHA384 TLS_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 TLS_DHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
                              TLS_DHE_RSA_WITH_CHACHA20_POLY1305_SHA256 TLS_DHE_RSA_WITH_AES_256_CCM_8 TLS_DHE_RSA_WITH_AES_256_CCM TLS_DHE_RSA_WITH_AES_256_CBC_SHA256 TLS_ECDHE_RSA_WITH_CAMELLIA_256_CBC_SHA384 TLS_DHE_RSA_WITH_CAMELLIA_256_CBC_SHA256
                              TLS_DHE_RSA_WITH_ARIA_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_ARIA_256_GCM_SHA384 TLS_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
                              TLS_DHE_RSA_WITH_AES_128_CCM_8 TLS_DHE_RSA_WITH_AES_128_CCM TLS_DHE_RSA_WITH_AES_128_CBC_SHA256 TLS_ECDHE_RSA_WITH_CAMELLIA_128_CBC_SHA256 TLS_DHE_RSA_WITH_CAMELLIA_128_CBC_SHA256 TLS_DHE_RSA_WITH_ARIA_128_GCM_SHA256
                              TLS_ECDHE_RSA_WITH_ARIA_128_GCM_SHA256 
 Elliptic curves offered:     prime256v1 secp384r1 secp521r1 X25519 X448 
 Finite field group:          ffdhe2048 ffdhe3072 ffdhe4096 ffdhe6144 ffdhe8192

 Testing server preferences 

 Has server cipher order?     no (NOT ok)
 Negotiated protocol          TLSv1.3
 Negotiated cipher            TLS_AES_256_GCM_SHA384, 253 bit ECDH (X25519) (limited sense as client will pick)
 Negotiated cipher per proto  (limited sense as client will pick)
     TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384:              TLSv1.2
     TLS_AES_256_GCM_SHA384:                             TLSv1.3
 No further cipher order check has been done as order is determined by the client


 Testing server defaults (Server Hello) 

 TLS extensions (standard)    "renegotiation info/#65281" "EC point formats/#11" "session ticket/#35" "supported versions/#43" "key share/#51" "max fragment length/#1" "application layer protocol negotiation/#16" "encrypt-then-mac/#22" "extended master secret/#23"
 Session Ticket RFC 5077 hint 10 seconds, session tickets keys seems to be rotated < daily
 SSL Session ID support       yes
 Session Resumption           Tickets: yes, ID: yes
 TLS clock skew               Random values, no fingerprinting possible 
 Signature Algorithm          SHA256 with RSA
 Server key size              RSA 2048 bits
 Server key usage             --
 Server extended key usage    --
 Trust (hostname)             certificate does not match supplied URI
 Chain of trust               NOT ok (self signed)
 EV cert (experimental)       no 
 ETS/"eTLS", visibility info  not present
 Certificate Validity (UTC)   2076 >= 60 days (2018-10-08 09:37 --> 2028-11-04 09:37)
                              >= 10 years is way too long
 # of certificates provided   2 (certificate list ordering problem)
 Certificate Revocation List  --
 OCSP URI                     --
                              NOT ok -- neither CRL nor OCSP URI provided
 OCSP stapling                not offered
 OCSP must staple extension   --
 DNS CAA RR (experimental)    (instructed to minimize DNS queries)
 Certificate Transparency     --


 Testing HTTP header response @ "/" 

 HTTP Status Code             404 Not Found (Hint: supply a path which doesn't give a "404 Not Found")
 HTTP clock skew              0 sec from localtime
 Strict Transport Security    not offered
 Public Key Pinning           --
 Server banner                Bingo Game Server
 Application banner           --
 Cookie(s)                    (none issued at "/") -- maybe better try target URL of 30x
 Security headers             X-Content-Type-Options: nosniff
 Reverse Proxy banner         --


 Testing vulnerabilities 

 Heartbleed (CVE-2014-0160)                not vulnerable (OK), no heartbeat extension
 CCS (CVE-2014-0224)                       not vulnerable (OK)
 Ticketbleed (CVE-2016-9244), experiment.  not vulnerable (OK)
 ROBOT                                     not vulnerable (OK)
 Secure Renegotiation (RFC 5746)           supported (OK)
 Secure Client-Initiated Renegotiation     not vulnerable (OK)
 CRIME, TLS (CVE-2012-4929)                not vulnerable (OK)
 BREACH (CVE-2013-3587)                    no HTTP compression (OK)  - only supplied "/" tested
 POODLE, SSL (CVE-2014-3566)               not vulnerable (OK), no SSLv3 support
 TLS_FALLBACK_SCSV (RFC 7507)              No fallback possible (OK), no protocol below TLS 1.2 offered
 SWEET32 (CVE-2016-2183, CVE-2016-6329)    not vulnerable (OK)
 FREAK (CVE-2015-0204)                     not vulnerable (OK)
 DROWN (CVE-2016-0800, CVE-2016-0703)      not vulnerable on this host and port (OK)
                                           make sure you don't use this certificate elsewhere with SSLv2 enabled services
                                           https://search.censys.io/search?resource=hosts&virtual_hosts=INCLUDE&q=CF8A4C0A3600CD3C5307AC6C170B3B4CC6C88ABA2CC6B5C4BE742808433445D0
 LOGJAM (CVE-2015-4000), experimental      common prime with 2048 bits detected: RFC3526/Oakley Group 14 (2048 bits),
                                           but no DH EXPORT ciphers
 BEAST (CVE-2011-3389)                     not vulnerable (OK), no SSL3 or TLS1
 LUCKY13 (CVE-2013-0169), experimental     potentially VULNERABLE, uses cipher block chaining (CBC) ciphers with TLS. Check patches
 RC4 (CVE-2013-2566, CVE-2015-2808)        no RC4 ciphers detected (OK)


 Testing 370 ciphers via OpenSSL plus sockets against the server, ordered by encryption strength 

Hexcode  Cipher Suite Name (IANA/RFC)                      KeyExch.   Encryption  Bits     Cipher Suite Name (OpenSSL)
---------------------------------------------------------------------------------------------------------------------------------
 x1302   TLS_AES_256_GCM_SHA384                            ECDH 253   AESGCM      256      TLS_AES_256_GCM_SHA384             
 x1303   TLS_CHACHA20_POLY1305_SHA256                      ECDH 253   ChaCha20    256      TLS_CHACHA20_POLY1305_SHA256       
 xc030   TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384             ECDH 253   AESGCM      256      ECDHE-RSA-AES256-GCM-SHA384        
 xc028   TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384             ECDH 253   AES         256      ECDHE-RSA-AES256-SHA384            
 x9f     TLS_DHE_RSA_WITH_AES_256_GCM_SHA384               DH 2048    AESGCM      256      DHE-RSA-AES256-GCM-SHA384          
 xcca8   TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256       ECDH 253   ChaCha20    256      ECDHE-RSA-CHACHA20-POLY1305        
 xccaa   TLS_DHE_RSA_WITH_CHACHA20_POLY1305_SHA256         DH 2048    ChaCha20    256      DHE-RSA-CHACHA20-POLY1305          
 xc0a3   TLS_DHE_RSA_WITH_AES_256_CCM_8                    DH 2048    AESCCM8     256      DHE-RSA-AES256-CCM8                
 xc09f   TLS_DHE_RSA_WITH_AES_256_CCM                      DH 2048    AESCCM      256      DHE-RSA-AES256-CCM                 
 x6b     TLS_DHE_RSA_WITH_AES_256_CBC_SHA256               DH 2048    AES         256      DHE-RSA-AES256-SHA256              
 xc077   TLS_ECDHE_RSA_WITH_CAMELLIA_256_CBC_SHA384        ECDH 253   Camellia    256      ECDHE-RSA-CAMELLIA256-SHA384       
 xc4     TLS_DHE_RSA_WITH_CAMELLIA_256_CBC_SHA256          DH 2048    Camellia    256      DHE-RSA-CAMELLIA256-SHA256         
 x9d     TLS_RSA_WITH_AES_256_GCM_SHA384                   RSA        AESGCM      256      AES256-GCM-SHA384                  
 xc0a1   TLS_RSA_WITH_AES_256_CCM_8                        RSA        AESCCM8     256      AES256-CCM8                        
 xc09d   TLS_RSA_WITH_AES_256_CCM                          RSA        AESCCM      256      AES256-CCM                         
 x3d     TLS_RSA_WITH_AES_256_CBC_SHA256                   RSA        AES         256      AES256-SHA256                      
 xc0     TLS_RSA_WITH_CAMELLIA_256_CBC_SHA256              RSA        Camellia    256      CAMELLIA256-SHA256                 
 xc051   TLS_RSA_WITH_ARIA_256_GCM_SHA384                  RSA        ARIAGCM     256      ARIA256-GCM-SHA384                 
 xc053   TLS_DHE_RSA_WITH_ARIA_256_GCM_SHA384              DH 2048    ARIAGCM     256      DHE-RSA-ARIA256-GCM-SHA384         
 xc061   TLS_ECDHE_RSA_WITH_ARIA_256_GCM_SHA384            ECDH 253   ARIAGCM     256      ECDHE-ARIA256-GCM-SHA384           
 x1301   TLS_AES_128_GCM_SHA256                            ECDH 253   AESGCM      128      TLS_AES_128_GCM_SHA256             
 xc02f   TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256             ECDH 253   AESGCM      128      ECDHE-RSA-AES128-GCM-SHA256        
 xc027   TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256             ECDH 253   AES         128      ECDHE-RSA-AES128-SHA256            
 x9e     TLS_DHE_RSA_WITH_AES_128_GCM_SHA256               DH 2048    AESGCM      128      DHE-RSA-AES128-GCM-SHA256          
 xc0a2   TLS_DHE_RSA_WITH_AES_128_CCM_8                    DH 2048    AESCCM8     128      DHE-RSA-AES128-CCM8                
 xc09e   TLS_DHE_RSA_WITH_AES_128_CCM                      DH 2048    AESCCM      128      DHE-RSA-AES128-CCM                 
 xc0a0   TLS_RSA_WITH_AES_128_CCM_8                        RSA        AESCCM8     128      AES128-CCM8                        
 xc09c   TLS_RSA_WITH_AES_128_CCM                          RSA        AESCCM      128      AES128-CCM                         
 x67     TLS_DHE_RSA_WITH_AES_128_CBC_SHA256               DH 2048    AES         128      DHE-RSA-AES128-SHA256              
 xc076   TLS_ECDHE_RSA_WITH_CAMELLIA_128_CBC_SHA256        ECDH 253   Camellia    128      ECDHE-RSA-CAMELLIA128-SHA256       
 xbe     TLS_DHE_RSA_WITH_CAMELLIA_128_CBC_SHA256          DH 2048    Camellia    128      DHE-RSA-CAMELLIA128-SHA256         
 x9c     TLS_RSA_WITH_AES_128_GCM_SHA256                   RSA        AESGCM      128      AES128-GCM-SHA256                  
 x3c     TLS_RSA_WITH_AES_128_CBC_SHA256                   RSA        AES         128      AES128-SHA256                      
 xba     TLS_RSA_WITH_CAMELLIA_128_CBC_SHA256              RSA        Camellia    128      CAMELLIA128-SHA256                 
 xc050   TLS_RSA_WITH_ARIA_128_GCM_SHA256                  RSA        ARIAGCM     128      ARIA128-GCM-SHA256                 
 xc052   TLS_DHE_RSA_WITH_ARIA_128_GCM_SHA256              DH 2048    ARIAGCM     128      DHE-RSA-ARIA128-GCM-SHA256         
 xc060   TLS_ECDHE_RSA_WITH_ARIA_128_GCM_SHA256            ECDH 253   ARIAGCM     128      ECDHE-ARIA128-GCM-SHA256           


 Running client simulations (HTTP) via sockets 

 Android 6.0                  TLSv1.2 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, 256 bit ECDH (P-256)
 Android 7.0 (native)         TLSv1.2 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, 256 bit ECDH (P-256)
 Android 8.1 (native)         TLSv1.2 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Android 9.0 (native)         TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Android 10.0 (native)        TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Android 11 (native)          TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Android 12 (native)          TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Chrome 79 (Win 10)           TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Chrome 101 (Win 10)          TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Firefox 66 (Win 8.1/10)      TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Firefox 100 (Win 10)         TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 IE 6 XP                      No connection
 IE 8 Win 7                   No connection
 IE 8 XP                      No connection
 IE 11 Win 7                  TLSv1.2 TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384, 256 bit ECDH (P-256)
 IE 11 Win 8.1                TLSv1.2 TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384, 256 bit ECDH (P-256)
 IE 11 Win Phone 8.1          TLSv1.2 TLS_RSA_WITH_AES_128_CBC_SHA256, No FS
 IE 11 Win 10                 TLSv1.2 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, 256 bit ECDH (P-256)
 Edge 15 Win 10               TLSv1.2 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, 253 bit ECDH (X25519)
 Edge 101 Win 10 21H2         TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Safari 12.1 (iOS 12.2)       TLSv1.3 TLS_CHACHA20_POLY1305_SHA256, 253 bit ECDH (X25519)
 Safari 13.0 (macOS 10.14.6)  TLSv1.3 TLS_CHACHA20_POLY1305_SHA256, 253 bit ECDH (X25519)
 Safari 15.4 (macOS 12.3.1)   TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Java 7u25                    No connection
 Java 8u161                   TLSv1.2 TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384, 256 bit ECDH (P-256)
 Java 11.0.2 (OpenJDK)        TLSv1.3 TLS_AES_128_GCM_SHA256, 256 bit ECDH (P-256)
 Java 17.0.3 (OpenJDK)        TLSv1.3 TLS_AES_256_GCM_SHA384, 253 bit ECDH (X25519)
 go 1.17.8                    TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 LibreSSL 2.8.3 (Apple)       TLSv1.2 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256, 253 bit ECDH (X25519)
 OpenSSL 1.0.2e               TLSv1.2 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, 256 bit ECDH (P-256)
 OpenSSL 1.1.0l (Debian)      TLSv1.2 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, 253 bit ECDH (X25519)
 OpenSSL 1.1.1d (Debian)      TLSv1.3 TLS_AES_256_GCM_SHA384, 253 bit ECDH (X25519)
 OpenSSL 3.0.3 (git)          TLSv1.3 TLS_AES_256_GCM_SHA384, 253 bit ECDH (X25519)
 Apple Mail (16.0)            TLSv1.2 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, 256 bit ECDH (P-256)
 Thunderbird (91.9)           TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)

 Done 2023-02-27 14:26:12 [ 212s] -->> 10.10.10.25:443 (10.10.10.25) <<--

```

**generated output**:

```

#### :0

* certificate's RSA key (i.e. its modulus) has less than 2048 bits: 2048
* certificate chain not trusted: self signed
* potentially vulnerable to Lucky Thirteen (CVE-2013-0169): use of ciphers in CBC mode
* offered TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 (ECDH 253)
* offered TLS_DHE_RSA_WITH_AES_256_GCM_SHA384 (DH 2048)
* offered TLS_DHE_RSA_WITH_CHACHA20_POLY1305_SHA256 (DH 2048)
* offered TLS_DHE_RSA_WITH_AES_256_CCM_8 (DH 2048)
* offered TLS_DHE_RSA_WITH_AES_256_CCM (DH 2048)
* offered TLS_DHE_RSA_WITH_AES_256_CBC_SHA256 (DH 2048)
* offered TLS_ECDHE_RSA_WITH_CAMELLIA_256_CBC_SHA384 (ECDH 253)
* offered TLS_DHE_RSA_WITH_CAMELLIA_256_CBC_SHA256 (DH 2048)
* offered TLS_RSA_WITH_AES_256_GCM_SHA384
* offered TLS_RSA_WITH_AES_256_CCM_8
* offered TLS_RSA_WITH_AES_256_CCM
* offered TLS_RSA_WITH_AES_256_CBC_SHA256
* offered TLS_RSA_WITH_CAMELLIA_256_CBC_SHA256
* offered TLS_RSA_WITH_ARIA_256_GCM_SHA384
* offered TLS_DHE_RSA_WITH_ARIA_256_GCM_SHA384 (DH 2048)
* offered TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 (ECDH 253)
* offered TLS_DHE_RSA_WITH_AES_128_GCM_SHA256 (DH 2048)
* offered TLS_DHE_RSA_WITH_AES_128_CCM_8 (DH 2048)
* offered TLS_DHE_RSA_WITH_AES_128_CCM (DH 2048)
* offered TLS_RSA_WITH_AES_128_CCM_8
* offered TLS_RSA_WITH_AES_128_CCM
* offered TLS_DHE_RSA_WITH_AES_128_CBC_SHA256 (DH 2048)
* offered TLS_ECDHE_RSA_WITH_CAMELLIA_128_CBC_SHA256 (ECDH 253)
* offered TLS_DHE_RSA_WITH_CAMELLIA_128_CBC_SHA256 (DH 2048)
* offered TLS_RSA_WITH_AES_128_GCM_SHA256
* offered TLS_RSA_WITH_AES_128_CBC_SHA256
* offered TLS_RSA_WITH_CAMELLIA_128_CBC_SHA256
* offered TLS_RSA_WITH_ARIA_128_GCM_SHA256
* offered TLS_DHE_RSA_WITH_ARIA_128_GCM_SHA256 (DH 2048)

# summary grouped by vulnerabilities


**certificate's RSA key (i.e. its modulus) has less than 2048 bits**

* :

**certificate chain not trusted**

* :

**potentially vulnerable to Lucky Thirteen (CVE-2013-0169): use of ciphers in CBC mode**

* :

**cipher suites that are using a weak session key**

* :

**cipher suites that cannot guarantee PFS (no ephemeral DH key exchange)**

* :

# affected hosts

* ``
```